*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 50px;
	background: #e4ddd7;
}
.top{
	width: 820px;
	height: 32px;
	margin: 0 auto 50px;
	padding: 14px 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
}
.top li{
	display: inline-block;
	border-right: 1px solid #999;
	padding: 0 10px;
}
.content{
	width: 800px;
	margin: 0 auto;
	clear: both;
}
.content:after{
	content:".";
	display: block;
	clear: both;
	height: 0;
	visibility:hidden;
}
.content li{
	float: left;
	background: #ffeb39;
	border: 2px solid #fff;
	box-shadow: -5px 5px 5px #9c9992;
	margin: 0 20px 30px;
	padding: 25px 10px;
	position: relative;
}
.time{
	width: 201px;
	text-align: center;
	font-size: 14px;
	color: #000;
	font-weight: 600;
	line-height: 30px;
}
.txt{
	width: 201px;
	height: 174px;
	font-size: 12px;
}
.pin_icon{
	position: absolute;
	top: -30px;
	left: 100px;
}
.close_btn{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/delete.png);
	position: absolute;
	top: -13px;
	right: -13px;
}
